img {
  width: 500px;
  aspect-ratio: auto;
}
p {
  width: 600px;
  font-size: 18px;
}

h1 {
  color: rgb(48, 22, 150);
  letter-spacing: 2px;
  font-size: 50px;
}

h3 {
  color: #01074d;
  text-decoration: underline;
  font-weight: 700;
}
h4{color:rgb(22, 90, 109);}
body {
  background-color: #d0dddf;
}

.App {
  text-align: center;
}

.newsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article {
  border: 1px solid black;
  width: 700px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
